:root{
    /* colours */
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 20%);
    --DarkGrey: hsl(0, 0%, 12%);
    --OffBlack: hsl(0, 0%, 8%);

    /* sizes */
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-s: 0.875rem;
    --size-base: 1rem;
    --size-l: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
}

@font-face {
    font-family: Inter-slnt;
    src: url(assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: Inter-bold;
    src: url(assets/fonts/static/Inter-Bold.ttf);
}

@font-face {
    font-family: Inter-regular;
    src: url(assets/fonts/static/Inter-Regular.ttf);
}

@font-face {
    font-family: Inter-semibold;
    src: url(assets/fonts/static/Inter-SemiBold.ttf);
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    height: 100%;
    background-color: var(--OffBlack);
}

*{
    padding: 0;
    margin: 0;
    line-height: calc(1em + 0.5rem);
}

main{
    width: 100%;
    text-align: center;
    font-family: Inter-regular;
}

.main_sect{
    background-color: var(--DarkGrey);
    width: 85%;
    margin: 10rem auto;
    padding: 3rem;
    border-radius: 1.5rem;
}

img{
    border-radius: 50%;
    width: var(--size-8xl);
    height: var(--size-8xl);
}

h1{
    font-size: var(--size-3xl);
    color: var(--White);
    font-family: Inter-bold;
    padding-top: 3rem;
}

h2{
    font-size: var(--size-l);
    color: var(--Green);
    padding: 1rem;
    font-family: Inter-semibold;
}

p{
    font-size: var(--size-l);
    color: var(--White);
    padding: 1.5rem;
}

.btn{
    width: 100%;
    padding: 2rem;
    margin: 1rem auto;
    color: var(--White);
    font-size: var(--size-xl);
    font-family: Inter-semibold;
    background-color: var(--Grey);
    border: none;
    border-radius: 1.5rem;
}

.btn:hover{
    cursor: pointer;
    color: var(--OffBlack);
    background-color: var(--Green);
}

/* xs */
@media screen and (min-width: 475px) {
    main{
        max-width: 475px;
    }

    .main_sect{
        width: 70%;
    }
}

/* s */
@media screen and (min-width: 640px) {
    main{
        max-width: 640px;
    }

    .main_sect{
        width: 55%;
    }
}

/* m */
@media screen and (min-width: 768px) {
    main{
        max-width: 768px;
    }

    .main_sect{
        width: 45%;
    }
    
    img{
        width: var(--size-9xl);
        height: var(--size-9xl);
    }
    
    h1{
        font-size: var(--size-4xl);
    }
    
    h2{
        font-size: var(--size-xl);
    }
    
    p{
        font-size: var(--size-xl);
    }
    
    .btn{
        font-size: var(--size-2xl);
    }
}

/* l */
@media screen and (min-width: 1024px) {
    main{
        max-width: 1024px;
    }

    .main_sect{
        width: 40%;
    }
    
    img{
        width: var(--size-10xl);
        height: var(--size-10xl);
    }
    
    h1{
        font-size: var(--size-5xl);
    }
    
    h2{
        font-size: var(--size-2xl);
    }
    
    p{
        font-size: var(--size-2xl);
    }
    
    .btn{
        font-size: var(--size-3xl);
    }
}

/* xl */
@media screen and (min-width: 1280px) {
    main{
        max-width: 1280px;
    }
}

/* xxl */
@media screen and (min-width: 1536px) {
    main{
        max-width: 1536px;
    }
}